<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
    <head>
        <title>Why Blood Donate | India's Blood Bank</title>
        <link rel="icon" href="./imgs/625270..jpg" type="image/icon type">
        <link rel="stylesheet" href="../fontaws/fontawesome-free-5.15.3-web/css/all.css">
    </head>
    <body>
<section>				       

	 <div class="container my-5">
	    <div class="card row flex-row-reverse why" style="height:300px;">
	        <img class="col-lg-6 card-img-end img-fluid p-0 whyimg" style="height:296px;" th:src="@{img/banner-hands-default.jpg}" />
	        <div class="col-lg-6 card-body">
	            <h1 class="card-title">31,000 pints of blood are used every day</h1>
	            <p class="card-text">Our nation's blood supply must cover every day needs. Blood must also be immediately available on the shelf for unexpected emergencies and disasters. It has a short shelf life span, and must be constantly replenished year-round to ensure availability whenever and wherever it is needed</p>
	        </div>
	    </div>
	</div>
	
	 <div class="container whybottom">
	    <div class="card row flex-row-reverse why" style="height:320px;">
	        <img class="col-lg-6 card-img-end img-fluid p-0 whyimg" style="height:319px;" th:src="@{img/banner-hands-default1.jpg}" />
	        <div class="col-lg-6 card-body">
	            <h2 class="card-title">Most blood products are used for people being treated for:</h2>
	            <p class="card-text">
		            <ul>
	                    <li>cancers</li>
	                    <li>organ and bone marrow transplants</li>
	                    <li>inherited blood disorders</li>
	                    <li>orthopedic surgeries</li>
	                    <li>cardiovascular surgeries</li>
	                    <li>trauma resuscitation</li>
	                    <li>transplantation</li>
	                    <li>haematological diseases</li>
	                </ul>
	        </div>
	    </div>
	</div>	

</section>

    </body>
</html>